body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  margin: 2em auto;
  width: 80%;
  max-width: 700px;
}

h1, h3 {
  text-decoration: underline;
  color: #339;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.7;
}