@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* all defaults are for medium screen size (x*y) */

/* variables */

:root {
  --black: #333;
  --darkgrey: #4d4d5a;
  --medgrey: #8c8c9c;
  --lightgrey: #ccc;
  --lightestgrey: #edeeef;


  /* colours for different skill tabs - controlled from js */
  --skill--html: #ec6433;
  --skill--css: #3c9ad6;
  --skill--javascript: #f4d944;
  --skill--react: #71bfdb;
  --skill--sketch: #e59946;
  --skill--bootstrap: #50457b;
  --skill--sass: #b25786;
  --skill--jquery: #2e6daa;
  --skill--python: #223c55;
  --skill--flask: #ffffff;
}

/* general styles */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  background: var(--pearl);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--black);
  margin: 0;
  padding: 0;
  background: #fff;
}

.content {
  display: flex;
}

h3, h4 {
  color: var(--medgrey);
}

p {
  margin: 0 0 .6rem 0;
  line-height: 1.75;
}

a {
  color: var(--black);
}

/* infobar styles */

.infobar {
  flex: none;
  flex-basis: 300px;

  width: 300px;
  position: relative;
  background: var(--darkgrey);
  color: var(--lightgrey);
  transition: .27s;
}

.infobar__arrow {
  position: absolute;
  left: 0;
  top: 2.6em;
}

.infobar__container {
  width: 380px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 300px;
  padding: 1.7em;
  padding-top: 2.2rem;
  padding-bottom: 0;
  transition: .27s;
}

.infobar__header {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: var(--lightestgrey);
  text-decoration: none;
}

.infobar__caption {
  margin-top: .5rem;
  margin-bottom: 5rem;
}

.infobar__biophoto {
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 3px;
}

.infobar__biotext {
  margin: 2rem 0 0 0;
  color: var(--lightgrey);
}

/* portfolio section */

.portfolio {
  padding: 4.7rem 4rem;
  max-width: 1200px;
  position: relative;
}

.portfolio__title {
  margin: 0;
}

p.portfolio__lead {
  color: var(--medgrey);
  margin: 1rem 0 4.7rem 0;
}

.project {
  margin: 2.4rem 0 0 0;
  padding: 3em 0 0 0;
  border-top: 2px solid var(--lightestgrey);
  position: relative;
}

/* .project__markers {
  display: inline;
  margin: 0;
  padding: 0;
} */

.project__title {
  font-size: 1.6rem;
  color: var(--darkgrey);
  margin: 0 0 1.5rem 0;
  display: inline-block;
}

.project__date {
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--lightgrey);
}

.project__thumb {
  width: 100%;
  margin-bottom: 2.6rem;
  border-radius: 3px;
  box-shadow: 
              0 15px 35px rgba(37, 37, 80, 0.1),
              0 5px 15px rgba(0,0,0,.06);
  filter: grayscale(1);
  opacity: .6;
}

.project__body {
  width: 100%;
}

.project__skills {
  top: 6.75rem;
  width: 105px;
  position: absolute;
  z-index: 999;
  padding: .5rem 0 2rem;
  overflow: hidden;
}

.project__skill {
  padding: .4rem .6rem;
  display: inline-block;
  width: 100%;
  color: var(--black);
  border-radius: 0 25px 25px 0;
  margin: .2rem 0;
  font-size: .9rem;
  box-shadow: 0 15px 35px rgba(37, 37, 80, 0.1),
              0 5px 15px rgba(0,0,0,.06);
  opacity: .9;
  font-weight: bold;
}

.project__actions {
  margin: 2.6rem 0 3.8rem 0; 
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a.project__btn {
  background: var(--darkgrey);
  padding: 1em;
  color: #fff;
  text-decoration: none;
  width: 47%;
  text-align: center;
  border-radius: 3px;
}
a.project__btn:hover {
  background: var(--medgrey);
}

.project__btn .fas {
  padding: 0 .4rem;
  color: var(--lightgrey);
}


@media screen and (min-width: 1250px) {
  .portfolio header {
    margin-bottom: 3rem;
  }
  
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5.2rem;
  }
  .project__markers {
    width: 62%;
    margin: 0;
  }
  .project__thumb {
    margin-bottom: 0;
  }
  .project__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 32%;

    align-self: stretch;
  }
  .project__actions {
    margin: 0;
  }
}

@media screen and (max-width: 840px) {
  .content {
    display: block;
  }
  .infobar {
    width: 100%;
  }
  .infobar__container {
    display: block;
    /* text-align: center; */
    width: 300px;
    height: auto;
    padding-bottom: 3rem;
    margin: 0 auto;
    position: relative;
    overflow-y: visible;
  }
  .infobar__caption {
    text-align: center;
  }
  .infobar__biophoto {
    height: 230px;
    width: 230px;
    margin: 0 auto;
  }
  .infobar__biotext {
    text-align: center;
  }
  .infobar__arrow {
    transform: rotate(90deg);
    top: -24px;
    left: 50%;
    margin-left: -22px;
  }
  .portfolio {
    padding: 6rem 2.5em 3rem;
  }
  .project__skill {
    margin-bottom: .05rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
}